#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
.list-group-item {

  color: blue;
  box-shadow: 5px 6px 7px;
  text-align: center;
  box-sizing: content-box;




}





  }
